/* Fonts */
@font-face {
  font-family: 'Palmdale-Regular';
  src: url('fonts/palmdale/palmdale-regular.eot');
  src: url('fonts/palmdale/palmdale-regular.eot?#iefix') format('embedded-opentype'), url('fonts/palmdale/palmdale-regular.woff2') format('woff2'),
    url('fonts/palmdale/palmdale-regular.woff') format('woff'), url('fonts/palmdale/palmdale-regular.ttf') format('truetype'),
    url('fonts/palmdale/palmdale-regular.svg#youworkforthem') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SharpGroteskMedium';
  src: url('fonts/sharp-grotesk/SharpGroteskMedium22.eot');
  src: url('fonts/sharp-grotesk/SharpGroteskMedium22.eot?#iefix') format('embedded-opentype'),
    url('fonts/sharp-grotesk/SharpGroteskMedium22.woff2') format('woff2'), url('fonts/sharp-grotesk/SharpGroteskMedium22.woff') format('woff');
  font-weight: medium;
  font-style: normal;
}
@font-face {
  font-family: 'SharpGroteskMediumItalic';
  src: url('fonts/sharp-grotesk/SharpGroteskMediumItalic22.eot');
  src: url('fonts/sharp-grotesk/SharpGroteskMediumItalic22.eot?#iefix') format('embedded-opentype'),
    url('fonts/sharp-grotesk/SharpGroteskMediumItalic22.woff2') format('woff2'),
    url('fonts/sharp-grotesk/SharpGroteskMediumItalic22.woff') format('woff');
  font-weight: medium;
  font-style: italic;
}
@font-face {
  font-family: 'TroisMilleBlack';
  src: url('fonts/trois-mille/TroisMilleBlack-20.eot');
  src: url('fonts/trois-mille/TroisMilleBlack-20.eot?#iefix') format('embedded-opentype'),
    url('fonts/trois-mille/TroisMilleBlack-20.eot.woff2') format('woff2'), url('fonts/trois-mille/TroisMilleBlack-20.eot.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

.font-palmdale {
  font-family: 'Palmdale-Regular', sans-serif !important;
}
.font-sharp {
  font-family: 'SharpGroteskMedium', sans-serif !important;
}
.font-sharp-italic {
  font-family: 'SharpGroteskMediumItalic', 'SharpGroteskMedium', sans-serif !important;
  font-style: italic;
}
.font-trois {
  font-family: 'TroisMilleBlack', sans-serif !important;
}

:root {
  --primary-font: 'SharpGroteskMedium', sans-serif !important;
  --secondary-font: 'SharpGroteskMedium', sans-serif !important;
  --ui-font: 'SharpGroteskMedium', sans-serif !important;
  --body-font: 'SharpGroteskMedium', sans-serif !important;
}

/* Preloader */
.loading-screen-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #fecb70;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
/* ==========================
========== Header ===========
========================== */
#lhxJBG > .w-block-header > .w-block-background {
  background-color: #ffd589 !important;
}
.nav--desktop ul li a[data-v-377bce9f],
.square__navigation-desktop_desktopNav--ZEnDx .square__navigation-desktop_subnavDropdown--3onPj li a {
  font-size: 24px;
  font-family: 'SharpGroteskMedium', sans-serif !important;
  position: relative;
}
.nav--desktop ul li a[data-v-377bce9f]::after,
.square__navigation-desktop_desktopNav--ZEnDx .square__navigation-desktop_subnavDropdown--3onPj li a::after {
  position: absolute;
  content: '';
  width: 0;
  height: 8px;
  background-color: #29fd3a;
  left: 0;
  bottom: 6px;
  opacity: 0.5;
  transition: width 0.3s ease-in-out;
}
.nav--desktop ul li a[data-v-377bce9f]:hover::after,
.square__navigation-desktop_desktopNav--ZEnDx .square__navigation-desktop_subnavDropdown--3onPj li a:hover::after {
  width: 100%;
  transform: none !important;
  border: none !important;
  top: unset !important;
}
.square__navigation-desktop_desktopNav--ZEnDx .square__navigation-desktop_subnavDropdown--3onPj {
  min-width: 250px;
}
.square__navigation-desktop_desktopNav--ZEnDx .square__navigation-desktop_subnavDropdown--3onPj li a {
  line-height: 1.2;
  font-size: 19px;
  display: inline-block;
}
body .bg-sticky[data-v-4b946d90] {
  background: #fecb70 !important;
  box-shadow: none !important;
  padding: 15px 0;
}
.bg-sticky .header__logo {
  visibility: visible !important;
}
button.nav-btn.cart-icon__wrap {
  margin-top: -10px;
  position: relative;
}
button.nav-btn.cart-icon__wrap svg {
  display: none;
}
.nav-icon__cart-number.square__icons-cart_iconCartNumber--3Rp4f {
  background-color: #29fd3a;
  min-width: 24px;
  height: 24px;
  padding: 2px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-family: 'SharpGroteskMedium', sans-serif !important;
  position: absolute;
  right: -4px;
  top: -15px;
  border: 2px solid #000;
}
.fulfillment__button[data-v-ffaf0e58]:not(.is-disabled) {
  cursor: pointer;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 15px;
  /* box-shadow: 0px 3px 8px rgb(0 0 0 / 30%); */
}
.fulfillment-text[data-v-ffaf0e58] {
  line-height: 1.7;
}
@media only screen and (max-width: 839px) {
  .w-sitelogo[data-v-29e8f4e1] img {
    width: 200px !important;
  }
  button.nav-btn.cart-icon__wrap {
    width: 44px;
    margin-top: 0;
  }
}
/* ==========================
=========== Footer ==========
========================== */
#JwucGZ > div[shortid='JwucGZ'] {
  display: none;
}
.main-footer {
  background-color: #fbd589;
  overflow: hidden;
  padding: 130px 0 60px !important;
}
.has-flash-bg {
  position: relative;
  z-index: 2;
}
.has-flash-bg::before {
  position: absolute;
  content: '';
  background-image: url(https://envira57dev.wpengine.com/wp-content/themes/hungry-house/img/star-white.svg);
  background-size: cover;
  width: 85px;
  height: 85px;
  left: 50%;
  top: 50%;
  z-index: -1;
  animation: spin 4s linear infinite;
  animation-play-state: paused;
}
.footer-top {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
.footer-top .has-flash-bg::before {
  width: 140px;
  height: 140px;
}
.footer-top .season-one span {
  display: block;
  font-size: 56px;
  transform: rotate(-10deg);
}
.footer-menu {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 30px;
  position: relative;
}
.footer-left-menu {
  width: 50%;
}
.footer-left-menu a {
  font-size: 40px;
  display: block;
  text-decoration: none;
  color: #000;
  margin-bottom: 35px;
}
.footer-right-menu {
  width: 50%;
  padding-left: 15%;
}
.footer-right-menu-items a {
  display: block;
  font-size: 24px;
  margin-bottom: 30px;
  text-decoration: none;
  color: #000;
}
.footer-social-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  max-width: 300px;
  width: 100%;
}
.footer-social-wrapper a {
  color: #000;
  font-size: 24px;
}
.footer-social-wrapper a:hover::before {
  animation-play-state: running;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid;
  padding-top: 40px;
}
.footer-bottom-menu a {
  color: #000;
  text-decoration: none;
  margin-right: 40px;
}
@media only screen and (max-width: 839px) {
  .main-footer {
    padding: 100px 0 20px !important;
  }
  .footer-top {
    padding-bottom: 20px;
  }
  .footer-top .has-flash-bg::before {
    width: 95px;
    height: 95px;
  }
  .footer-top .season-one span {
    font-size: 40px;
  }
  .footer-menu {
    flex-wrap: wrap;
    padding-bottom: 50px;
  }
  .footer-left-menu {
    width: 100%;
    padding-bottom: 25px;
  }
  .footer-left-menu a {
    font-size: 24px;
    margin-bottom: 25px;
  }
  .footer-right-menu {
    width: 100%;
    padding-left: 0;
  }
  .footer-right-menu-items a {
    font-size: 16px;
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .footer-social-wrapper {
    max-width: 200px;
    padding-top: 30px;
  }
  .footer-social-wrapper a {
    font-size: 16px;
  }
  .footer-social-wrapper .has-flash-bg::before {
    width: 62px;
    height: 62px;
  }
  .footer-bottom {
    padding-top: 30px;
    flex-wrap: wrap;
    font-size: 12px;
  }
  .footer-bottom-menu a {
    display: block;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

/* ==========================
======= Global Styles =======
========================== */
.sq-section {
  padding: 150px 0;
}
.regular-line-button {
  font-size: 18px;
  color: #000;
  text-decoration: none;
  position: relative;
  display: inline-block;
}
.regular-line-button::after {
  position: absolute;
  content: '';
  width: 0;
  height: 6px;
  background-color: #29fd3a;
  left: 0;
  bottom: 1px;
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
}
.regular-line-button img {
  position: absolute;
  width: 20px;
  right: -20px;
  top: 2px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.regular-line-button:hover::after {
  width: 100%;
}
.regular-line-button:hover img {
  right: -30px;
  opacity: 1;
  visibility: visible;
}
.button_with_hover {
  background-color: #ffffff;
  display: block;
  padding: 30px;
  height: 100px;
  border-radius: 10px;
  width: 100%;
  text-align: center;
  color: #000;
  text-decoration: none;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.25s ease-in-out;
}
.button_with_hover span {
  position: absolute;
  transition: transform 0.25s ease-in-out;
}
.button_with_hover .button-before-text {
  font-size: 32px;
  transform: translateY(0);
  color: #000;
}
.button_with_hover .button-after-text {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  color: #fff;
  font-size: 24px;
}
.button_with_hover:hover {
  background-color: #000;
  border-radius: 100px;
}
.button_with_hover:hover .button-before-text {
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
}
.button_with_hover:hover .button-after-text {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.button_with_hover_yellow {
  background-color: #ffd589;
}
.button_with_hover_yellow:hover {
  background-color: #000000;
}
.button_with_hover_transparent {
  background-color: transparent;
  border: 2px solid #000;
}
.button_with_hover_smaller {
  height: 64px;
  border-radius: 13px;
}
.button_with_hover_smaller .button-before-text {
  font-size: 32px;
}
.button_with_hover_smaller .button-after-text {
  font-size: 24px;
}
.sq_section_heading {
  margin-bottom: 20px;
  font-size: 40px;
  padding-bottom: 30px;
  border-bottom: 1px solid #333;
}
.sq_section_heading .font-palmdale {
  font-size: 48px;
}
.image_text_section .text-component h2 {
  font-size: 40px;
  margin-bottom: 60px;
  position: relative;
  z-index: 2;
}
.image_text_section .text-component h2::before {
  position: absolute;
  content: '';
  background-image: url(https://envira57dev.wpengine.com/wp-content/themes/hungry-house/img/star-yellow.svg);
  width: 70px;
  height: 70px;
  left: -35px;
  top: -17px;
  z-index: -1;
}
.image_text_section .text-component p {
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 50px;
}
div[data-block-purpose='featured-products@^1.0.0'] .fluid-carousel,
div[data-block-purpose='gallery@^1.1.2'] .fluid-carousel {
  margin-left: 90px;
  margin-right: 90px;
}
div[data-block-purpose='featured-products@^1.0.0'] .fluid-carousel--item.carousel-item--large,
div[data-block-purpose='gallery@^1.1.2'] .gallery-carousel__item {
  position: relative;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-left: 15px;
  padding-right: 15px;
}
div[data-block-purpose='gallery@^1.1.2'] .gallery-carousel__item .figure__aspect-ratio {
  height: auto !important;
  width: 100% !important;
  border-radius: 20px;
  border: 3px solid #000000;
}
div[data-block-purpose='featured-products@^1.0.0'] .fluid-carousel--item.carousel-item--large > a > .w-wrapper[data-v-ab1ca44a]:last-child {
  position: absolute;
  bottom: 75px;
  left: 0;
  transform: translateY(0);
  display: flex;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
div[data-block-purpose='featured-products@^1.0.0'] .fluid-carousel--item.carousel-item--large:hover > a > .w-wrapper[data-v-ab1ca44a]:last-child {
  transform: translateY(-60px);
  visibility: visible;
  opacity: 1;
}
div[data-block-purpose='gallery@^1.1.2'] .carousel-title-row .carousel-title {
  display: none;
}
div[data-block-purpose='featured-products@^1.0.0'] .featured-products-carousel__title-row,
div[data-block-purpose='gallery@^1.1.2'] .carousel-title-row {
  align-items: center;
  position: absolute;
  top: 41%;
  left: 0;
  transform: translateY(-41%);
  width: 100%;
}
div[data-block-purpose='featured-products@^1.0.0'] .featured-products-carousel__title-row > div:last-child,
div[data-block-purpose='gallery@^1.1.2'] .carousel-title-row .carousel-controls {
  width: 93%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
div[data-block-purpose='gallery@^1.1.2'] .carousel-title-row .carousel-controls {
  flex: 0 0 93% !important;
}
div[data-block-purpose='featured-products@^1.0.0'] .featured-products-carousel__title-row .carousel__arrow.carousel__arrow--enabled:first-child,
div[data-block-purpose='featured-products@^1.0.0'] .featured-products-carousel__title-row .carousel__arrow.carousel__arrow--enabled:last-child,
div[data-block-purpose='gallery@^1.1.2'] .carousel-title-row .carousel-controls .carousel__arrow.carousel__arrow--enabled:first-child,
div[data-block-purpose='gallery@^1.1.2'] .carousel-title-row .carousel-controls .carousel__arrow.carousel__arrow--enabled:last-child {
  position: relative;
  padding: 0;
}
div[data-block-purpose='featured-products@^1.0.0'] .featured-products-carousel__title-row .carousel__arrow.carousel__arrow--enabled:first-child svg,
div[data-block-purpose='featured-products@^1.0.0'] .featured-products-carousel__title-row .carousel__arrow.carousel__arrow--enabled:last-child svg,
div[data-block-purpose='gallery@^1.1.2'] .carousel-title-row .carousel-controls .carousel__arrow.carousel__arrow--enabled:first-child svg,
div[data-block-purpose='gallery@^1.1.2'] .carousel-title-row .carousel-controls .carousel__arrow.carousel__arrow--enabled:last-child svg {
  display: none;
}
div[data-block-purpose='featured-products@^1.0.0']
  .featured-products-carousel__title-row
  .carousel__arrow.carousel__arrow--enabled:first-child::before,
div[data-block-purpose='featured-products@^1.0.0']
  .featured-products-carousel__title-row
  .carousel__arrow.carousel__arrow--enabled:last-child::before,
div[data-block-purpose='gallery@^1.1.2'] .carousel-title-row .carousel-controls .carousel__arrow.carousel__arrow--enabled:first-child::before,
div[data-block-purpose='gallery@^1.1.2'] .carousel-title-row .carousel-controls .carousel__arrow.carousel__arrow--enabled:last-child::before {
  position: absolute;
  content: '';
  width: 21px;
  height: 17px;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
}
div[data-block-purpose='featured-products@^1.0.0']
  .featured-products-carousel__title-row
  .carousel__arrow.carousel__arrow--enabled:first-child::before,
div[data-block-purpose='gallery@^1.1.2'] .carousel-title-row .carousel-controls .carousel__arrow.carousel__arrow--enabled:first-child::before {
  background-image: url(https://envira57dev.wpengine.com/wp-content/themes/hungry-house/img/left-arrow.svg);
}
div[data-block-purpose='featured-products@^1.0.0']
  .featured-products-carousel__title-row
  .carousel__arrow.carousel__arrow--enabled:last-child::before,
div[data-block-purpose='gallery@^1.1.2'] .carousel-title-row .carousel-controls .carousel__arrow.carousel__arrow--enabled:last-child::before {
  background-image: url(https://envira57dev.wpengine.com/wp-content/themes/hungry-house/img/right-arrow.svg);
}
div[data-block-purpose='featured-products@^1.0.0'] .featured-product__image {
  border-radius: 20px;
  overflow: hidden;
  border: 3px solid #000;
}
div[data-block-purpose='featured-products@^1.0.0'] .w-grid[data-v-5b18065a] {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}
div[data-block-purpose='featured-products@^1.0.0'] .product-group__link[data-v-517ec0ac] {
  text-align: left;
}
div[data-block-purpose='featured-products@^1.0.0'] .product-group__link[data-v-517ec0ac] .w-wrapper[data-v-ab1ca44a]:last-child {
  position: absolute;
  top: -75px;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
div[data-block-purpose='featured-products@^1.0.0'] .grid__item:hover .product-group__link[data-v-517ec0ac] .w-wrapper[data-v-ab1ca44a]:last-child {
  top: -125px;
  opacity: 1;
  visibility: visible;
}
div[data-block-purpose='featured-products@^1.0.0'] .fluid-carousel--item.carousel-item--large > a > .w-wrapper[data-v-ab1ca44a]:last-child button,
div[data-block-purpose='featured-products@^1.0.0']
  .product-group__link[data-v-517ec0ac]
  .w-wrapper[data-v-ab1ca44a]:last-child
  .featured-product__button[data-v-517ec0ac] {
  font-size: 18px;
  border-radius: 10px;
  height: 58px;
  background-color: #fff !important;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  transition: all 0.3s ease-in-out;
  color: #000000;
}
div[data-block-purpose='featured-products@^1.0.0']
  .fluid-carousel--item.carousel-item--large
  > a
  > .w-wrapper[data-v-ab1ca44a]:last-child
  button:hover,
div[data-block-purpose='featured-products@^1.0.0']
  .product-group__link[data-v-517ec0ac]
  .w-wrapper[data-v-ab1ca44a]:last-child
  .featured-product__button[data-v-517ec0ac]:hover {
  border-radius: 30px;
  background-color: #29fd3a !important;
}
div[data-block-purpose='newsletter@^1.2.1'] .sq_section_heading {
  font-size: 32px;
  line-height: 48px;
  font-family: 'SharpGroteskMediumItalic', sans-serif !important;
  font-style: italic;
  border: none;
  margin-bottom: 0;
  padding-bottom: 20px;
}
.recaptcha-terms {
  display: none !important;
}
.sq_contact_disclaimer {
  font-size: 12px;
  line-height: 22px;
  margin-top: 40px;
}
div[data-block-purpose='newsletter@^1.2.1'] .w-cell {
  max-width: 100%;
  width: 100%;
  flex: 1;
  margin-left: auto;
}
div[data-block-purpose='newsletter@^1.2.1'] .w-cell .action-button__input {
  width: 70%;
  margin-right: 5%;
}
div[data-block-purpose='newsletter@^1.2.1'] .w-cell .action-button__input .input-wrapper::before {
  position: absolute;
  content: '';
  left: 0;
  top: 45%;
  width: 21px;
  height: 14px;
  background-image: url(https://envira57dev.wpengine.com/wp-content/themes/hungry-house/img/arrow-right.svg);
  z-index: 99;
  background-size: cover;
}
div[data-block-purpose='newsletter@^1.2.1'] .w-cell .action-button .input-group__input {
  border: none;
  border-bottom: 2px solid #000;
  font-size: 18px;
  background-color: transparent;
  color: #000;
  height: 100px;
  padding: 50px;
  font-family: 'SharpGroteskMediumItalic', sans-serif;
  font-style: italic;
}
div[data-block-purpose='newsletter@^1.2.1'] .w-cell .action-button .input-group__input::placeholder {
  color: #000;
}
div[data-block-purpose='newsletter@^1.2.1'] .action-button__button[data-v-a997ca1e] {
  width: 45%;
  background-color: transparent;
  padding: 0;
  height: 100px;
  border-radius: 0 !important;
}
div[data-block-purpose='gallery@^1.1.2'] {
  padding: 140px 0 130px;
}
div[data-block-purpose='gallery@^1.1.2'] .insta-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 90px;
  padding-right: 90px;
}
div[data-block-purpose='gallery@^1.1.2'] .insta-row .insta_id {
  font-size: 48px;
  line-height: 1.3;
}
div[data-block-purpose='gallery@^1.1.2'] .insta-row .tiktok_url a,
div[data-block-purpose='gallery@^1.1.2'] .insta-row .insta_url a {
  font-size: 18px;
  color: #000;
  position: relative;
  z-index: 2;
}
div[data-block-purpose='gallery@^1.1.2'] .insta-row .tiktok_url a::before,
div[data-block-purpose='gallery@^1.1.2'] .insta-row .insta_url a::before {
  position: absolute;
  content: '';
  background-image: url(https://envira57dev.wpengine.com/wp-content/themes/hungry-house/img/star-yellow.svg);
  width: 70px;
  height: 70px;
  left: 50%;
  top: 50%;
  z-index: -1;
  animation: spin 4s linear infinite;
  animation-play-state: paused;
}
div[data-block-purpose='gallery@^1.1.2'] .insta-row .tiktok_url a:hover::before,
div[data-block-purpose='gallery@^1.1.2'] .insta-row .insta_url a:hover::before {
  animation-play-state: running;
}

/* ==========================
========= Home page =========
========================== */
#dNjJIL {
  padding: 40px 0 90px;
}
div#\31 a177201-2c51-11ec-a533-2114c163d007 {
  display: none;
}
#dNjJIL > .container,
#dNjJIL .menu {
  position: relative;
}
.home-banner-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}
.home-live-banner {
  display: flex;
  align-items: center;
  font-size: 32px;
}
.home-live-banner span {
  margin-left: -35px;
}
.menu__item {
  cursor: default;
  position: relative;
  overflow: hidden;
}
.menu__item-link {
  display: block;
  position: relative;
  cursor: pointer;
  text-decoration: none;
}
.menu__item-link::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0px;
  background-color: #000;
}
.marquee {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transform: translate3d(0, 102%, 0);
  z-index: 1;
  background-color: #000;
  transition: all 0.2s ease-in-out;
}
.marquee__inner-wrap {
  height: 100%;
  width: 100%;
  transform: translate3d(0, -100%, 0);
  transition: all 0.2s ease-in-out;
  --offset: 20vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));
}
.marquee__inner {
  height: 100%;
  width: fit-content;
  align-items: center;
  display: flex;
  position: relative;
  transform: translate3d(var(--move-initial), 0, 0);
  animation: marquee 5s linear infinite;
  animation-play-state: paused;
}
.marquee__inner > div {
  display: flex;
  align-items: center;
}
@keyframes marquee {
  0% {
    transform: translate3d(var(--move-initial), 0, 0);
  }

  100% {
    transform: translate3d(var(--move-final), 0, 0);
  }
}
.menu__item-link {
  color: #000;
}
.menu__item-link,
.marquee span {
  white-space: nowrap;
  line-height: 1.2;
  padding: 3vh 0;
}
.menu__item-link .font-sharp,
.marquee .font-sharp {
  font-size: 72px;
}
.menu__item-link .font-sharp {
  margin-right: 30px;
}
.menu__item-link .font-palmdale {
  font-size: 48px;
}
.marquee .font-palmdale {
  color: #fecb70;
  font-size: 80px;
}
.marquee span {
  text-align: center;
  color: #fff;
}
.marquee .star {
  width: 50px;
  margin: 0 30px;
}
.marquee .star img {
  width: 45px;
}
.hover-thumb-wrapper {
  position: absolute;
  right: 0;
  z-index: 2;
  transform: translateY(15%) scale(0.75);
  pointer-events: none;
  max-width: 480px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}
.hover-thumb-wrapper#woldy-thumb {
  transform: translateY(15%) scale(0.75) rotate(15deg);
}
.hover-thumb-wrapper.hover-active#woldy-thumb {
  transform: translateY(15%) scale(1) rotate(10deg);
}
.hover-thumb-wrapper#apocalypse-thumb {
  transform: translateY(15%) scale(0.75) rotate(-15deg);
}
.hover-thumb-wrapper.hover-active#apocalypse-thumb {
  transform: translateY(15%) scale(1) rotate(-10deg);
}
.hover-thumb-wrapper#sermon-thumb {
  transform: translateY(15%) scale(0.75) rotate(2deg);
}
.hover-thumb-wrapper.hover-active#sermon-thumb {
  transform: translateY(15%) scale(1) rotate(5deg);
}
.hover-thumb-wrapper#house-thumb {
  transform: translateY(15%) scale(0.75) rotate(-3deg);
}
.hover-thumb-wrapper.hover-active#house-thumb {
  transform: translateY(15%) scale(1) rotate(-6deg);
}
.hover-thumb-wrapper#good-thumb {
  transform: translateY(15%) scale(0.75) rotate(5deg);
}
.hover-thumb-wrapper.hover-active#good-thumb {
  transform: translateY(15%) scale(1) rotate(8deg);
}
.hover-thumb-wrapper.hover-active {
  opacity: 1;
  visibility: visible;
  transform: translateY(15%) scale(1);
}
.menu__item-link:hover::before {
  display: none;
}
.menu__item .container:hover ~ .marquee {
  transform: translate3d(0, 0px, 0);
}
.menu__item .container:hover ~ .marquee .marquee__inner-wrap {
  transform: translate3d(0, 0, 0);
}
.menu__item .container:hover ~ .marquee .marquee__inner-wrap .marquee__inner {
  animation-play-state: running;
}
#XcvNOf {
  padding-bottom: 50px;
  background-color: #ffedea;
}
#XcvNOf .figure__aspect-ratio {
  height: auto !important;
}
#XcvNOf .text-component p {
  font-size: 32px;
  font-family: 'SharpGroteskMediumItalic', sans-serif !important;
  font-style: italic;
  line-height: 1.5;
  margin-top: 100px;
}
#XcvNOf .text-component .button_with_hover {
  margin-top: 55px;
}
#jpVBdt {
  padding-top: 120px;
}
#hSRIav {
  padding: 130px 0 120px;
}
#hSRIav .sq_section_heading {
  margin-bottom: 50px;
}
#hSRIav .sq_section_sub_heading {
  margin-bottom: 30px;
}
#hSRIav .button_with_hover {
  margin-top: 30px;
}
#HgjPAk > .w-block.w-background-light {
  background-color: #f8f3ec !important;
  padding: 60px 0 100px;
}
.instagram-carousel__column {
  border-radius: 15px;
  overflow: hidden;
  border: 3px solid #000;
  box-shadow: 0 0 5px rgb(0 0 0 / 30%);
}

/* ===================================
===== Inner page (Woldy Kusina) ======
==================================== */
#\37 0c6e880-3055-11ec-aa3e-77c2d59edf09 {
  background-color: #e2e2e2 !important;
}
#\37 e9af570-30f8-11ec-8be3-b34248d9fb0f {
  background-color: #fdcdcd !important;
}
#\38 cef7a10-30f8-11ec-8be3-b34248d9fb0f {
  background-color: #fadfad !important;
}
#\39 c661080-30f8-11ec-8be3-b34248d9fb0f {
  background-color: #dfdce8 !important;
}

#VsDiNU h2,
#tihKAM h2,
#PbpxoT h2,
#NAhQMG h2,
#ABFtDp h2 {
  font-size: 56px;
  padding-bottom: 35px;
  position: relative;
  z-index: 2;
}
#VsDiNU h2::before,
#tihKAM h2::before,
#PbpxoT h2::before,
#NAhQMG h2::before,
#ABFtDp h2::before {
  content: '';
  position: absolute;
  left: -88px;
  top: -67px;
  background-image: url(https://envira57dev.wpengine.com/wp-content/themes/hungry-house/img/white-star.svg);
  width: 178px;
  height: 178px;
  z-index: -1;
}
#VsDiNU p,
#tihKAM p,
#PbpxoT p,
#NAhQMG p,
#ABFtDp p {
  font-size: 18px;
  line-height: 1.7;
}
#VsDiNU .button_with_hover,
#tihKAM .button_with_hover,
#PbpxoT .button_with_hover,
#NAhQMG .button_with_hover,
#ABFtDp .button_with_hover {
  margin: 70px 0 40px;
}
#VsDiNU .regular-line-button,
#tihKAM .regular-line-button,
#PbpxoT .regular-line-button,
#NAhQMG .regular-line-button,
#ABFtDp .regular-line-button {
  font-size: 14px;
  color: #000;
}
#VsDiNU .regular-line-button img,
#tihKAM .regular-line-button img,
#PbpxoT .regular-line-button img,
#NAhQMG .regular-line-button img,
#ABFtDp .regular-line-button img {
  width: 17px;
  top: 7px;
}
#mOPZLD,
#izPJVI,
#iUeHtq,
#xJPzqX,
#glWFBA {
  padding: 80px 0 50px;
}
#igDyLN,
#degirR,
#BiqnRo,
#XRGugI,
#SEQUMY {
  padding-bottom: 100px;
}
#igDyLN .button_with_hover_medium,
#degirR .button_with_hover_medium,
#BiqnRo .button_with_hover_medium,
#XRGugI .button_with_hover_medium,
#SEQUMY .button_with_hover_medium {
  margin-top: 50px;
}
#vrEVGZ,
#PamnJu,
#rXWvKs,
#GeUDAP,
#GqYTxR {
  padding-bottom: 140px;
}
#vrEVGZ .button_with_hover,
#PamnJu .button_with_hover,
#rXWvKs .button_with_hover,
#GeUDAP .button_with_hover,
#GqYTxR .button_with_hover {
  margin-top: 50px;
}
#TyGiHO,
#BIUCWv,
#muqkMH,
#wlFgeE,
#QtmjFN {
  background-color: #e0e8c7;
  padding-top: 110px;
  padding-bottom: 140px;
}
#TyGiHO .sq_section_heading,
#BIUCWv .sq_section_heading,
#muqkMH .sq_section_heading,
#wlFgeE .sq_section_heading,
#QtmjFN .sq_section_heading {
  margin-bottom: 0;
}
#TyGiHO .slideshow__slide .slideshow__image,
#BIUCWv .slideshow__slide .slideshow__image,
#muqkMH .slideshow__slide .slideshow__image,
#wlFgeE .slideshow__slide .slideshow__image,
#QtmjFN .slideshow__slide .slideshow__image {
  padding: 25px 100px;
}
#TyGiHO .slideshow__slide .slideshow__image .image__wrapper,
#BIUCWv .slideshow__slide .slideshow__image .image__wrapper,
#muqkMH .slideshow__slide .slideshow__image .image__wrapper,
#wlFgeE .slideshow__slide .slideshow__image .image__wrapper,
#QtmjFN .slideshow__slide .slideshow__image .image__wrapper {
  border: 3px solid #000;
  border-radius: 20px;
  box-shadow: 0 0 20px 5px rgb(0 0 0 / 50%);
  overflow: hidden;
}
.w-slideshow[data-v-6f0fe5ea] {
  padding-bottom: 40px;
}
.swiper__prev[data-v-6f0fe5ea] {
  left: 30px !important;
}
.swiper__next[data-v-6f0fe5ea] {
  right: 30px !important;
}
.swiper-arrow[data-v-6f0fe5ea] {
  position: relative;
}
.swiper-arrow[data-v-6f0fe5ea] svg {
  display: none;
}
.swiper-arrow[data-v-6f0fe5ea]::before {
  position: absolute;
  content: '';
  width: 21px;
  height: 17px;
  background-repeat: no-repeat;
  background-position: center;
}
.swiper__prev[data-v-6f0fe5ea] .swiper-arrow[data-v-6f0fe5ea]::before {
  background-image: url(https://envira57dev.wpengine.com/wp-content/themes/hungry-house/img/left-arrow.svg);
  left: 0;
}
.swiper__next[data-v-6f0fe5ea] .swiper-arrow[data-v-6f0fe5ea]::before {
  background-image: url(https://envira57dev.wpengine.com/wp-content/themes/hungry-house/img/right-arrow.svg);
  right: 0;
}
.square__slideshow-dots_slideshow--1zLiy .square__slideshow-dots_slideshowDot--35R4i {
  background-color: #000000;
  margin: 0 10px !important;
}
.square__slideshow-dots_slideshow--1zLiy .square__slideshow-dots_slideshowDot--35R4i.swiper-pagination-bullet-active {
  background-image: url(https://envira57dev.wpengine.com/wp-content/themes/hungry-house/img/green-star.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  height: 25px;
  width: 25px;
}
.about-bio-text {
  font-size: 24px;
  line-height: 1.7;
  margin-bottom: 70px;
}
#yeCMuv,
#lJTXrj,
#MWwQxT,
#yvjDQo,
#LNSIjq,
#iGjvPT,
#MZPidF {
  background-color: #ffedea;
  padding: 130px 0;
}
.fmi-container .w-grid.order-grid {
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}
.card.item-card {
  flex-wrap: wrap;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  border: none;
}
.card.item-card .image {
  height: auto !important;
  width: 100% !important;
  border-radius: 20px !important;
  overflow: hidden;
  border: 2px solid #000;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.menu_item_button {
  position: absolute;
  height: 56px;
  width: 180px;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  font-size: 18px;
  font-family: 'SharpGroteskMedium', sans-serif !important;
  color: #000000;
  border-radius: 10px;
  background-color: #fff !important;
  box-shadow: 0 0 15px rgb(0 0 0 / 60%);
  transition: all 0.3s ease-in-out;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  border: none;
}
.card.item-card .image img {
  transition: all 0.3s ease-in-out;
}
.card.item-card .image:hover img {
  transform: scale(1.05);
}
.card.item-card .image:hover .menu_item_button {
  opacity: 1;
  visibility: visible;
  bottom: 30px;
}
.card.item-card .image .menu_item_button:hover {
  background-color: #29fd3a !important;
  border-radius: 50px;
}
.card.item-card .meta {
  width: 100% !important;
  padding: 0 !important;
}
.card.item-card .meta .title {
  margin-bottom: 0;
}
.card.item-card .meta .w-product-title,
.product__price {
  font-size: 18px;
}
.sq_section_heading_reverse .font-sharp {
  font-size: 56px;
}
.border-on-hover::after {
  width: 0;
  transition: all 0.3s ease-in-out;
}
.border-on-hover:hover::after {
  width: 100%;
}
.sq_section_learn_more {
  margin-top: 15px;
  margin-bottom: 15px;
}
.featured-menu-items > .w-container > .w-cell {
  margin-top: 0 !important;
}
#qnYtAa,
#MlUWwE,
#sdRhmA,
#bLdkpf,
#LoJjMB {
  padding: 75px 0 0;
}

/*=============================
*====== Product Details =======
*=============================*/
.w-cell.display-desktop.breadcrumb-align.row {
  display: none;
}
button.📚5-4-0vQBWk.📚5-4-0tMshx.📚5-4-0aYEm0.📚5-4-0_N8aS.📚5-4-0u2Q6y {
  background-color: #fff !important;
  border: 2px solid #000;
}
button.📚5-4-0vQBWk.📚5-4-0tMshx.📚5-4-0aYEm0.📚5-4-0_N8aS.📚5-4-0u2Q6y:disabled {
  opacity: 0.3;
}
.product-gallery .carousel__container[data-v-d015290e] {
  border: 3px solid #000;
  border-radius: 30px;
  overflow: hidden;
}

/*=============================
*=========== Goodies ==========
*=============================*/
#mwTnFg {
  padding: 0;
}
#mwTnFg > div > .container {
  max-width: 100%;
  padding: 0;
  overflow: hidden;
}
#mwTnFg .w-slideshow[data-v-6f0fe5ea] {
  padding-bottom: 0;
}
#mwTnFg .swiper-pagination[data-v-6f0fe5ea] {
  bottom: 30px;
}
#dQThWb,
#COwPVL {
  padding: 110px 0;
  background-color: #ffedea;
}
#dQThWb .w-cell.col.col-12 {
  max-width: 100%;
  flex: 1;
  margin-left: auto;
}
#dQThWb .w-cell.col.col-12 p {
  font-size: 32px;
  line-height: 1.5;
  font-family: 'SharpGroteskMediumItalic', sans-serif !important;
  font-style: italic;
}
#PHKkOX {
  padding: 110px 0 70px;
}

/* About us page */
#jdkwUD {
  background-color: #ffedea;
}
#jdkwUD > div#\33 ddb1ad1-082e-11ec-891d-adf924fbe50d {
  display: none;
}
#jdkwUD .about-header {
  max-width: 1000px;
  text-align: center;
  margin: auto;
  padding: 150px 0 130px;
  position: relative;
}
#jdkwUD .about-header::before {
  position: absolute;
  content: '';
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  height: 320px;
  background-image: url(https://envira57dev.wpengine.com/wp-content/themes/hungry-house/img/white-star.svg);
  z-index: 1;
  background-size: cover;
}
#jdkwUD .sq_about_heading {
  font-size: 56px;
  line-height: 72px;
  z-index: 2;
  position: relative;
}
#jdkwUD .sq_about_heading .font-palmdale {
  font-size: 72px;
}
#RQadKc .figure__aspect-ratio {
  height: auto !important;
}
#RQadKc .text-component {
  padding: 70px 0;
}
#RQadKc .text-component p {
  font-size: 32px;
  line-height: 1.5;
  font-family: 'SharpGroteskMediumItalic', sans-serif !important;
  font-style: italic;
}
#dtiazq > div#f09bed21-2917-11ec-94fc-5972c791d9b5 > .container {
  max-width: var(--max-container);
  padding: 0 var(--content-padding);
}
#dtiazq .figure__aspect-ratio {
  height: auto !important;
}
#dtiazq {
  padding: 100px 0 50px;
}
.sq_section_sub_heading {
  font-size: 32px;
  line-height: 1.5;
}
#dtiazq .sq_section_heading,
#woPJFK .sq_section_heading {
  margin-bottom: 40px;
}
#dtiazq .sq_section_sub_heading {
  margin-bottom: 100px;
}
#sKmHWh {
  background-color: #ffedea;
  padding: 140px 0 100px;
}
#woPJFK {
  padding-top: 140px;
}
#zROXtU {
  padding-bottom: 40px;
}
#kUyoZa {
  padding-top: 110px;
  padding-bottom: 60px;
  background-color: #ffedea;
}
#kUyoZa .text-component p {
  font-size: 32px;
  line-height: 1.5;
  text-align: left;
  margin-bottom: 30px;
  font-family: 'SharpGroteskMediumItalic', sans-serif !important;
  font-style: italic;
}
#kUyoZa .w-cell.col.col-12.col-sm-8.col-md-6.offset-sm-2.offset-md-3 {
  margin-left: auto;
  max-width: 100%;
  flex: 1;
}
#kUyoZa form > .w-container {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-left: -15px;
  margin-right: -15px;
  max-width: inherit !important;
  width: auto !important;
}
#kUyoZa form > .w-container > .w-cell {
  max-width: 50%;
  flex: 0 0 50%;
  padding: 0 15px !important;
  margin-bottom: 50px !important;
}
#kUyoZa form > .w-container > .w-cell:last-child {
  max-width: 100%;
  flex: 0 0 100% !important;
}
#kUyoZa form > .w-container > .w-cell input,
#kUyoZa form > .w-container > .w-cell textarea {
  font-size: 18px;
  color: #000;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #000;
  padding: 0 0 20px;
  min-height: 63px;
  border-radius: 0 !important;
}
#kUyoZa form > .w-container > .w-cell textarea {
  min-height: 165px;
  border: 2px solid #000 !important;
  border-radius: 10px !important;
  padding: 20px;
}
#kUyoZa form > .w-container > .w-cell input::placeholder {
  color: #000;
}
#kUyoZa form > .w-container > .w-cell textarea::placeholder {
  color: transparent;
}
#kUyoZa form .icon-suffix[data-v-1ffb3e30] {
  display: none !important;
}
#kUyoZa form .w-button {
  width: 100%;
  padding: 0;
  border: none;
  height: auto;
}
#kUyoZa form .w-button:hover {
  background-color: transparent;
}
#kUyoZa form .w-button span.w-button__label {
  display: none;
}
#SAVlXv .w-container > .w-cell.col.col-12.col-md-8.offset-0.offset-md-2 {
  margin-left: auto;
  max-width: 100%;
  flex: 1;
}
#SAVlXv .text-component > p {
  font-size: 32px;
  line-height: 1.5;
  font-family: 'SharpGroteskMediumItalic', sans-serif !important;
  font-style: italic;
}
#SAVlXv {
  padding: 140px 0;
}
#SAVlXv .sq_section_heading {
  margin-bottom: 0;
}

/*=============================
*=========== Goodies ==========
*=============================*/
#LXATQZ {
  padding: 180px 0 100px;
}
#LXATQZ h1 {
  position: relative;
  font-size: 56px;
  z-index: 1;
}
#LXATQZ img {
  position: absolute;
  left: -80px;
  top: -60px;
  width: 175px;
  z-index: -1;
}
#BNDACL,
#DkFilf,
#TOavZI,
#YaUvxS,
#sAfTbX {
  padding-bottom: 100px;
}
#BNDACL .sq_section_heading,
#DkFilf .sq_section_heading {
  margin-bottom: 60px;
}

div#\36 87723c1-344c-11ec-ac65-331c31b1be70,
div#\33 e831680-35d4-11ec-b1dd-7d918421ee08,
div#e9c9cdc0-35cc-11ec-b1dd-7d918421ee08,
div#\38 5a6e740-4244-11ec-9cc9-45e27d658742,
div#\34 93bea10-4246-11ec-9cc9-45e27d658742,
div#\38 3ae2480-4244-11ec-9cc9-45e27d658742 {
  display: none;
}
.faq-row {
  margin-bottom: 45px;
}
.faq-question {
  font-size: 24px;
  line-height: 1.6;
  position: relative;
  cursor: pointer;
  padding: 10px 0;
}
.faq-question::before {
  position: absolute;
  content: '+';
  right: 0;
  top: 10%;
  transform: rotate(0);
  transition: all 0.3s ease-in-out;
}
.faq-answer {
  font-size: 32px;
  line-height: 1.5;
  margin-top: 40px;
  display: none;
}
.faq-row.active .faq-question::before {
  transform: rotate(45deg);
}
#Dxmztl {
  background-color: #ffedea;
  padding: 190px 0 100px;
}
div#\39 c9c8040-35ce-11ec-b1dd-7d918421ee08 {
  display: none;
}
#Dxmztl p {
  font-size: 32px;
  line-height: 1.5;
  padding-bottom: 50px;
}
#NdAKrZ .card.product-group.item-card.square__orderonline_light--3YBBG .meta .w-product-description__wrapper {
  line-height: 1.7;
}

/*============ Some Pages =================*/
div#\31 0-section .w-grid.order-grid.order-grid.visible,
div#\38 -section .w-grid.order-grid.order-grid.visible,
div#\37 -section .w-grid.order-grid.order-grid.visible,
div#\32 -section .w-grid.order-grid.order-grid.visible,
div#\39 -section .w-grid.order-grid.order-grid.visible,
div#\31 6-section .w-grid.order-grid.order-grid.visible {
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

div#\31 0-section .w-grid.order-grid.order-grid.visible .card,
div#\38 -section .w-grid.order-grid.order-grid.visible .card,
div#\37 -section .w-grid.order-grid.order-grid.visible .card,
div#\32 -section .w-grid.order-grid.order-grid.visible .card,
div#\39 -section .w-grid.order-grid.order-grid.visible .card,
div#\31 6-section .w-grid.order-grid.order-grid.visible .card {
  background-color: transparent !important;
}

div#\31 0-section .w-grid.order-grid.order-grid.visible .card.item-card .product-title,
div#\38 -section .w-grid.order-grid.order-grid.visible .card.item-card .product-title,
div#\37 -section .w-grid.order-grid.order-grid.visible .card.item-card .product-title,
div#\32 -section .w-grid.order-grid.order-grid.visible .card.item-card .product-title,
div#\39 -section .w-grid.order-grid.order-grid.visible .card.item-card .product-title,
div#\31 6-section .w-grid.order-grid.order-grid.visible .card.item-card .product-title {
  margin-bottom: 10px;
}

div#\31 0-section .w-grid.order-grid.order-grid.visible .card.item-card .product__price,
div#\38 -section .w-grid.order-grid.order-grid.visible .card.item-card .product__price,
div#\37 -section .w-grid.order-grid.order-grid.visible .card.item-card .product__price,
div#\32 -section .w-grid.order-grid.order-grid.visible .card.item-card .product__price,
div#\39 -section .w-grid.order-grid.order-grid.visible .card.item-card .product__price,
div#\31 6-section .w-grid.order-grid.order-grid.visible .card.item-card .product__price {
  font-size: 18px !important;
  font-weight: 700 !important;
}

@media screen and (max-width: 1024px) {
  div#\31 0-section .w-grid.order-grid.order-grid.visible,
  div#\38 -section .w-grid.order-grid.order-grid.visible,
  div#\37 -section .w-grid.order-grid.order-grid.visible,
  div#\32 -section .w-grid.order-grid.order-grid.visible,
  div#\39 -section .w-grid.order-grid.order-grid.visible,
  div#\31 6-section .w-grid.order-grid.order-grid.visible {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media screen and (max-width: 767px) {
  div#\31 0-section .w-grid.order-grid.order-grid.visible,
  div#\38 -section .w-grid.order-grid.order-grid.visible,
  div#\37 -section .w-grid.order-grid.order-grid.visible,
  div#\32 -section .w-grid.order-grid.order-grid.visible,
  div#\39 -section .w-grid.order-grid.order-grid.visible,
  div#\31 6-section .w-grid.order-grid.order-grid.visible {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin: 0 20px;
  }
}
