@font-face {
  font-family: 'Palmdale-Regular';
  src: url('fonts/palmdale/palmdale-regular.eot');
  src: url('fonts/palmdale/palmdale-regular.eot?#iefix') format('embedded-opentype'), url('fonts/palmdale/palmdale-regular.woff2') format('woff2'),
    url('fonts/palmdale/palmdale-regular.woff') format('woff'), url('fonts/palmdale/palmdale-regular.ttf') format('truetype'),
    url('fonts/palmdale/palmdale-regular.svg#youworkforthem') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SharpGroteskMedium';
  src: url('fonts/sharp-grotesk/SharpGroteskMedium22.eot');
  src: url('fonts/sharp-grotesk/SharpGroteskMedium22.eot?#iefix') format('embedded-opentype'),
    url('fonts/sharp-grotesk/SharpGroteskMedium22.woff2') format('woff2'), url('fonts/sharp-grotesk/SharpGroteskMedium22.woff') format('woff');
  font-weight: medium;
  font-style: normal;
}
@font-face {
  font-family: 'SharpGroteskMediumItalic';
  src: url('fonts/sharp-grotesk/SharpGroteskMediumItalic22.eot');
  src: url('fonts/sharp-grotesk/SharpGroteskMediumItalic22.eot?#iefix') format('embedded-opentype'),
    url('fonts/sharp-grotesk/SharpGroteskMediumItalic22.woff2') format('woff2'),
    url('fonts/sharp-grotesk/SharpGroteskMediumItalic22.woff') format('woff');
  font-weight: medium;
  font-style: italic;
}
@font-face {
  font-family: 'TroisMilleBlack';
  src: url('fonts/trois-mille/TroisMilleBlack-20.eot');
  src: url('fonts/trois-mille/TroisMilleBlack-20.eot?#iefix') format('embedded-opentype'),
    url('fonts/trois-mille/TroisMilleBlack-20.eot.woff2') format('woff2'), url('fonts/trois-mille/TroisMilleBlack-20.eot.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

.font-palmdale {
  font-family: 'Palmdale-Regular', sans-serif !important;
}
.font-sharp {
  font-family: 'SharpGroteskMedium', sans-serif !important;
}
.font-sharp-italic {
  font-family: 'SharpGroteskMediumItalic', sans-serif !important;
}
.font-trois {
  font-family: 'TroisMilleBlack', sans-serif !important;
}

.loading-screen-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

/* .nav--desktop ul li a[data-v-377bce9f],
.square__navigation-desktop_desktopNav--ZEnDx .square__navigation-desktop_subnavDropdown--3onPj li a {
  font-size: 24px;
  font-family: 'SharpGroteskMedium', sans-serif !important;
}
.square__navigation-desktop_desktopNav--ZEnDx .square__navigation-desktop_subnavDropdown--3onPj {
  min-width: 250px;
}
.square__navigation-desktop_desktopNav--ZEnDx .square__navigation-desktop_subnavDropdown--3onPj li a {
  line-height: 1.2;
} */

.sq-section {
  padding: 150px 0;
}
#hSRIav {
  padding: 150px 0 0;
}
.section-2 {
  background-color: #f0dedb;
}
.section-4 {
  background-color: #fbccb8;
  margin-top: 120px;
}
.section-2 h2,
#yeCMuv h2,
.section-4 h2,
#hSRIav > .container > h2 {
  font-size: 72px;
  padding-bottom: 30px;
  margin-bottom: 70px;
  border-bottom: 1px solid #333;
}
#hSRIav > .container > h2 {
  text-align: right;
  margin-bottom: 30px;
}
.section-2 h2 span,
#yeCMuv h2 span,
.section-4 h2 span,
#hSRIav > .container > h2 span {
  font-size: 80px;
}
#hSRIav > .container > h2 img {
  margin-right: 25px;
  margin-bottom: -15px;
}
.section-2 p {
  font-size: 48px;
  line-height: 1.3;
  margin-bottom: 70px;
}
#yeCMuv > .container > p,
.section-4 p {
  font-size: 32px;
  line-height: 1.5;
  margin-bottom: 70px;
}
.section-2 p span {
  padding-left: 40%;
}
#yeCMuv > .container > p span {
  padding-left: 28%;
}
.section-4 p span {
  padding-left: 17%;
}
.button-with-hover {
  background-color: #f8f3ec;
  display: block;
  padding: 30px;
  height: 160px;
  text-align: center;
  color: #000;
  text-decoration: none;
  border-radius: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.25s ease-in-out;
}
.button-with-hover span {
  position: absolute;
  transition: transform 0.25s ease-in-out;
}
.button-with-hover span.button-before-text {
  font-size: 48px;
  transform: translateY(0);
  color: #000;
}
.button-with-hover span.button-after-text {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  color: #fff;
  font-size: 40px;
}
.button-with-hover:hover {
  background-color: #000;
  border-radius: 150px;
}
.button-with-hover:hover span.button-before-text {
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
}
.button-with-hover:hover span.button-after-text {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
#yeCMuv {
  background-color: #fadfad;
  padding: 130px 0;
}
#yeCMuv #\39 5c9fbd1-0824-11ec-a325-814f1b1aa631 {
  background-color: transparent !important;
}
#yeCMuv .recaptcha-terms.recaptcha-terms {
  display: none;
}
#yeCMuv #\39 5c9fbd1-0824-11ec-a325-814f1b1aa631 .w-cell.col.col-12.col-sm-8.col-md-6.offset-sm-2.offset-md-3 {
  width: 100% !important;
  margin-left: auto;
  margin-right: auto;
  flex: 0 0 100% !important;
  max-width: 100%;
}
#yeCMuv .action-button[data-v-a997ca1e] {
  justify-content: space-between;
  align-items: center;
}
#yeCMuv .action-button__input[data-v-a997ca1e] {
  width: 45%;
}
#yeCMuv .action-button__input[data-v-a997ca1e] .input-wrapper {
  position: relative;
}
#yeCMuv .action-button__input[data-v-a997ca1e] .input-wrapper::before {
  position: absolute;
  content: '';
  left: 0;
  top: 45%;
  width: 21px;
  height: 14px;
  background-image: url(https://pauli81.wpengine.com/wp-content/themes/hungry-house/img/arrow-right.svg);
  z-index: 99;
  background-size: cover;
}
#yeCMuv .action-button__input[data-v-a997ca1e] .input-group__input {
  border: none;
  border-bottom: 2px solid #000;
  font-size: 24px;
  background-color: transparent;
  color: #000;
  height: 160px;
  padding: 50px;
  font-family: 'SharpGroteskMediumItalic', sans-serif;
}
#yeCMuv .action-button__input[data-v-a997ca1e] .input-group__input::placeholder {
  color: #000;
}
#yeCMuv .action-button__button[data-v-a997ca1e] {
  width: 45%;
  background-color: transparent;
  padding: 0;
  height: 160px;
}
#yeCMuv .button-with-hover {
  width: 100%;
}

#hSRIav {
  background-color: #f8f3ec;
}
#hSRIav .fluid-carousel--item .figure__aspect-ratio {
  border-radius: 30px;
}
#hSRIav .fluid-carousel--item.carousel-item--large {
  position: relative;
}
#hSRIav .fluid-carousel--item.carousel-item--large > a > .w-wrapper[data-v-ab1ca44a]:last-child {
  position: absolute;
  bottom: 75px;
  left: 0;
  transform: translateY(0);
  display: flex;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
#hSRIav .fluid-carousel--item.carousel-item--large:hover > a > .w-wrapper[data-v-ab1ca44a]:last-child {
  transform: translateY(-60px);
  visibility: visible;
  opacity: 1;
}
#hSRIav .fluid-carousel--item.carousel-item--large > a > .w-wrapper[data-v-ab1ca44a]:last-child button {
  background-color: #f8f3ec;
  font-size: 24px;
  font-family: 'SharpGroteskMedium', sans-serif;
  height: 80px;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
}
#hSRIav .fluid-carousel--item.carousel-item--large > a > .w-wrapper[data-v-ab1ca44a]:last-child button:hover {
  background-color: #29fd3a;
  border-radius: 80px;
}

.section-1 {
  background-color: #f8f3ec;
  padding: 70px 0 100px;
}
.section-1 > .container {
  position: relative;
}
div#\31 7ce53d1-084b-11ec-87f6-a171d7cab8a1 {
  display: none;
}
.menu__item {
  cursor: default;
  position: relative;
  overflow: hidden;
}
.menu__item-link {
  display: block;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  border-top: 1px solid #000;
}
.menu__item:last-child .menu__item-link {
  border-bottom: 1px solid #000;
}
.marquee {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transform: translate3d(0, 102%, 0);
  z-index: 8;
  background-color: #000;
  transition: all 0.2s ease-in-out;
}
.marquee__inner-wrap {
  height: 100%;
  width: 100%;
  transform: translate3d(0, -100%, 0);
  transition: all 0.2s ease-in-out;
  --offset: 20vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));
}
.marquee__inner {
  height: 100%;
  width: fit-content;
  align-items: center;
  display: flex;
  position: relative;
  transform: translate3d(var(--move-initial), 0, 0);
  animation: marquee 5s linear infinite;
  animation-play-state: paused;
}
.marquee__inner > div {
  display: flex;
  align-items: center;
}
@keyframes marquee {
  0% {
    transform: translate3d(var(--move-initial), 0, 0);
  }

  100% {
    transform: translate3d(var(--move-final), 0, 0);
  }
}
.menu__item-link {
  color: #000;
}
.menu__item-link,
.marquee span {
  white-space: nowrap;
  line-height: 1.2;
  padding: 3vh 0;
}
.menu__item-link .font-sharp,
.marquee .font-sharp {
  font-size: 72px;
}
.menu__item-link .font-sharp {
  margin-right: 30px;
}
.menu__item-link .font-palmdale {
  font-size: 48px;
}
.marquee .font-palmdale {
  color: #fecb70;
  font-size: 80px;
}
.marquee span {
  text-align: center;
  color: #fff;
}
.marquee .star {
  width: 50px;
  margin: 0 30px;
}
.marquee .star img {
  width: 45px;
}
.hover-thumb-wrapper {
  position: absolute;
  right: 0;
  z-index: 9;
  transform: translateY(15%) scale(0.75);
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}
.hover-thumb-wrapper.hover-active {
  opacity: 1;
  visibility: visible;
  transform: translateY(15%) scale(1);
}
.menu__item:hover .marquee {
  transform: translate3d(0, 1px, 0);
}
.menu__item:hover .marquee__inner-wrap {
  transform: translate3d(0, 0, 0);
}
.menu__item:hover .marquee__inner-wrap .marquee__inner {
  animation-play-state: running;
}
#HgjPAk > .w-block.w-background-light {
  background-color: #f8f3ec !important;
  padding: 60px 0 100px;
}
#HgjPAk .instagram-carousel__column {
  border-radius: 15px;
  overflow: hidden;
  border: 3px solid #000;
  box-shadow: 0 0 5px rgb(0 0 0 / 30%);
}

.view-full-menu {
  font-size: 24px;
  color: #000;
  text-decoration: none;
  position: relative;
  margin-top: 50px;
  display: inline-block;
}
.view-full-menu::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 8px;
  background-color: #29fd3a;
  left: 0;
  bottom: 2px;
  opacity: 0.5;
}

#JwucGZ > div[shortid='JwucGZ'] {
  display: none;
}
.main-footer {
  background-color: #fecb70;
}
.footer-menu {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding-top: 60px;
  padding-bottom: 10px;
  position: relative;
}
.footer-surprize {
  position: absolute;
  top: -120px;
  left: -150px;
}
.footer-left-menu {
  width: 64%;
  display: flex;
  justify-content: space-between;
}
.footer-middle-menu,
.footer-right-menu {
  width: 18%;
}
.footer-left-menu div {
  width: 47%;
}
.footer-menu a {
  font-size: 24px;
  display: block;
  text-decoration: none;
  color: #000;
  font-family: 'SharpGroteskMedium', sans-serif !important;
  margin-bottom: 50px;
}

.footer-social-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 0;
}
.footer-social-wrapper .insta-username {
  font-size: 45px;
  font-family: 'Palmdale-Regular', sans-serif !important;
}
.footer-social-wrapper a {
  color: #000;
  font-family: 'SharpGroteskMediumItalic', sans-serif !important;
  font-size: 24px;
}
.footer-social-wrapper div:first-child {
  width: 25%;
}
.footer-social-wrapper .insta-ticktock {
  width: 50%;
  display: flex;
}
.footer-social-wrapper .insta-ticktock a {
  font-family: 'SharpGroteskMediumItalic', sans-serif !important;
  margin-right: 50px;
  position: relative;
}